/* Definitions for Colorscheme from the Phytec Website */
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #006e73;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --black: #000;
    --white: #fff;
    --gray1: #f5f5f5;
    --gray2: #d0d2d3;
    --gray3: #95989a;
    --gray4: #707070;
    --teal1: #03c9d6;
    --teal2: #02a6b1;
    --teal3: #16969e;
    --teal4: #006e73;
    --orange: #ff9708;
    --green: #c5d900;
    --yellow: #f1bf00;
}

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--dark);
}

.rst-content code,
.rst-content kbd,
.rst-content pre,
.rst-content samp
.rst-content tt,
code {
    font-family: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas,
                 "Liberation Mono", "Courier New", monospace;
}

.rst-content code.literal,
.rst-content tt.literal {
    color: var(--pink);
}

.rst-content .toctree-wrapper > p.caption,
h1, h2, h3, h4, h5, h6,
legend {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wy-nav-content {
    background: var(--white);
}

.wy-nav-content a {
    color: var(--teal3);
}

.wy-nav-content a:hover {
    color: var(--teal2);
}

.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: var(--teal3);

    /* Improves the appearance of uppercase text */
    letter-spacing: 0.75px;
}

.wy-side-nav-search,
.wy-nav-top {
    background-image: linear-gradient(to right, var(--teal2) 0%, var(--success) 400%);
}

.wy-side-nav-search input[type="text"] {
    border-color: transparent;
    background-clip: padding-box;
    font-family: inherit;
}

.btn,
.rst-versions {
    font-family: inherit;
}

.rst-versions .rst-current-version {
    color: var(--teal3);
    font-weight: bold;
}
