name: Build

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Clone repo with all tags (required for git describe)
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install dependencies
      run: |
          sudo apt update
          sudo apt install tox texlive-latex-extra texlive-xetex texlive-lang-chinese latexmk python3-pip librsvg2-bin -y
          pip3 install -r requirements/setup.txt
    - name: Render HTML Documentation
      run: |
        tox -e intl
    - name: Build PDF Documentation
      run: tox -e pdf
