name: Deploy

on:
  push:
    branches: [ main ]
    tags: ['*']

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Clone repo with all tags (required for git describe)
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install dependencies
      run: |
          sudo apt update
          sudo apt install tox texlive-latex-extra texlive-xetex texlive-lang-chinese latexmk python3-pip librsvg2-bin -y
          pip3 install -r requirements/setup.txt
    - name: Render Documentation
      run: |
        tox -e intl
        tox -e pdf
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: build/html
        force_orphan: true
