.rst-content .code-block-caption {
    font-style: normal;
    font-weight: bold;
    padding: 10px 12px;
    text-align: inherit;
    border: 1px solid #e1e4e5;
    border-bottom: 0px;
    margin-bottom: -1px;
}
